<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="style.css"/>
    <title>New Product</title>
</head>
<body>
    <h1>FPT Book</h1>
    <div class = "bar">
        <a href="adminHome">Menu</a>
        <a href="product">View all books</a>
        <a href="/">Logout</a> 
    </div>
    <h2>New Product</h2>
    <form action="/addProduct" method="post">
        Name: <input type="text" name="txtName" id="txtName" value="{{oldValues.name}}">
        <span style="color: red;">{{errorName}}</span> 
        <br>
        Price:   <input type="text" name="txtPrice" id="txtPrice" value="{{oldValues.price}}"> $
        <span style="color: red;">{{errorPrice}}</span> 
        <span style="color: red;">{{errorPriceNaN}}</span> 
        <br>
        Quantity: <input type="text" name="txtQuantity" id="txtQuantity" value="{{oldValues.quantity}}">
        <span style="color: red;">{{errorQuantity}}</span> 
        <span style="color: red;">{{errorQuantityNaN}}</span> 
        <br>
        Picture URL:
        <input type="text" name="txtPicURL" id="txtPicURL" size="150" value="{{oldValues.picURL}}">
        <span style="color: red;">{{errorLink}}</span> 
        <br>
        Author: <input type="text" name="txtAuthor" id="txtAuthor" value="{{oldValues.name}}">
        <span style="color: red;">{{errorAuthor}}</span> 
        <br>
        Description: <input type="text" name="txtDescription" id="txtDescription" value="{{oldValues.description}}">
        <span style="color: red;">{{errorDescription}}</span>
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>