<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Edit</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class = "bar">
                <a class="navbar-brand" href="#">FPT Book store</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/adminHome">Menu</a></li>
                <li><a href="addProduct">Add book</a></li>
                <li><a href="product">View all books</a></li>
                <li><a href="viewprofile">View profile</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
    <hi>Edit Page</hi>
    <form method="post" action="editCustomer">
        <br>
        <input type="hidden" name="txtId" value="{{id}}">
        Full name: <input type="text" name="txtFullName" id="txtFullName" value = "{{users.fullName}}">
        <br>
        Address: <input type="text" name="txtAddress" id="txtAddress" value = "{{users.Address}}">
        <br>
        Phone numbers: <input type="text" name="txtPhone" id="txtPhone" value = "{{users.Phone}}">
        <br>
        Gmail: <input type="text" name="txtGmail" id="txtGmail" value = "{{users.Gmail}}">
        <input type="submit" value="Update">
        <table>
            <tr>
                <th>fullName</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Gmail</th>
            </tr>
            <tr>
                <td>{{users.fullName}}</td>
                <td>{{users.Address}}</td>
                <td>{{users.Phone}}</td>
                <td>{{users.Gmail}}</td>
            </tr>
        </table>
    </form>

</body>

</html>