<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Feedback management
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FPT Book</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/adminHome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/addProduct">Add book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/addCategory">Add category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category">View category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/viewprofile">View profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/viewOrder">View order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/feedbackManage">Feedback manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                    </ul>
            </div>
        </div>
    </nav>
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group input-group-outline">
                <form class="d-flex" action="/admin//feedbackmanage/searchFeedback" method="GET">
                    <input class="form-control me-2" name="bookName" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
            </div>
            </div>
        </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h3>Feedbacks table</h3>
                </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <h6>Search by day:
                        {{#if feedback}}
                        <a style="margin: 0 2rem 0 2rem;" href="/admin/feedbackManage">All</a>
                        <a style="margin: 0 2rem 0 2rem;" href="/admin/feedbackManage/today">Today</a>
                        <a style="margin: 0 2rem 0 2rem;" href="/admin/feedbackManage/1weeks">1 weeks</a>
                        <a style="margin: 0 2rem 0 2rem;" href="/admin/feedbackManage/1months">1 months</a>
                        {{/if}} 
                    </h4>
                    
                <div class="table-responsive p-0">
                    <table class="table table-borderless">
                    <tr>
                <th>Username</th>
                <th>Product</th>
                <th>Feedback</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
            {{#each feedback}}
            <tr>
                <td>{{username}}</td>
                <td>{{name}}</td>
                <td>{{feedback}}</td>
                <td>{{time}}</td>

                <td><a href="/admin/feedbackManage/delete?id={{_id}}">DELETE</a></td>
                <td><button class="btn btn-primary" data-username="{{username}}" data-book="{{name}}" data-feedback="{{feedback}}" data-cmtid="{{_id}}" data-toggle="modal" data-target="#myModal">
                        Reply
                    </button></td>
            </tr>
            {{/each}}

                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </main>
    <!-- Modal --> 
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title" id="myModalLabel">Reply feedback</h4>
        </div>
        <div class="modal-body">
            <style>
            #profileForm input{
                min-width: 100%;
            }
            </style>
            <form id="profileForm" action="/admin/replyfeedback" method="POST">
            <input  type="hidden" name="cmtid" value="">
            Username: <input class="form-control" name="username" value="" disabled>
            Book Name: <input class="form-control" name="book" value="" disabled>
            Comment: 
            <textarea class="form-control" name="feedback"  style="min-height: 100px;min-width:100%"></textarea>
            Reply: <input type="hidden" name="userid" value="{{user.name}}">
            <textarea class="form-control" name="adreply" placeholder="Reply this feedback..." style="min-height: 100px;" ></textarea>
            
    
        
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Reply </button>
            
        </div>
        </form>
        </div>
    </div>
    </div>
    </div>
    <script type="text/javascript">
    $('#myModal').on('show.bs.modal', function (event) {
    var cmtid = $(event.relatedTarget).data('cmtid');
    var userName = $(event.relatedTarget).data('username');
    var book = $(event.relatedTarget).data('book');
    var feedback = $(event.relatedTarget).data('feedback')
    $('#profileForm').find('[name="cmtid"]').val(cmtid);
    $('#profileForm').find('[name="username"]').val(userName);
    $('#profileForm').find('[name="book"]').val(book);
    $('#profileForm').find('[name="feedback"]').val(feedback);
    })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>