<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>View your profile</title>
</head>
<html>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class = "bar">
                <a class="navbar-brand" href="#">FPT Book store</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/adminHome">Menu</a></li>
                <li><a href="addProduct">Add book</a></li>
                <li><a href="product">View all books</a></li>
                <li><a href="viewprofile">View profile</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
    <h1>View profile</h1>
        {{#each users}}
        <lu>
            <li>{{fullName}}|{{Address}}|{{Phone}}</li>
        </lu>
        <table>
        <thread>
            <tr>
                <th>fullName</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Gmail</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {{#each users}}
                <tr>
                    <td>{{fullName}}</td>
                    <td>{{Address}}</td>
                    <td>{{Phone}}</td>
                    <td>{{Gmail}}</td>
                    <td><a href="editCustomer?id={{_id}}">edit</a></td>
                    <td><a onclick="return confirm('are you want to delete')" href="delete?id={{_id}}">delete</a></td>
                </tr>
            {{/each}}
            
        </thread>
        </table>
</body>
</html>